In [1]:
from autoviz.AutoViz_Class import AutoViz_Class
import pandas as pd
AV = AutoViz_Class()

filename = "data.csv"
df = pd.read_csv(filename)
label_mapping = {'Yes': 1, 'No': 0}

# 'Label'列をマップして変換
purpose = "Attrition"

df[purpose] = df[purpose].map(label_mapping)
# depVarに目的変数、dfteにEDAしたいデータをセットする
dft = AV.AutoViz( "" ,sep=',', depVar=purpose, dfte=df, header=0, verbose=2,
lowess=False,chart_format='svg',max_rows_analyzed=1500,max_cols_analyzed=30)

Imported v0.1.804. After importing autoviz, you must run '%matplotlib inline' to display charts inline.
    AV = AutoViz_Class()
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)
Shape of your Data Set loaded: (1470, 38)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
  Printing upto 30 columns (max) in each category:
    Numeric Columns : []
    Integer-Categorical Columns: ['Age', 'DailyAchievement', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction', 'HourlyAchievement', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyAchievement', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Incentive', 'RemoteWork']
    String-Categorical Columns: ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus', 'HowToEmploy']
    Factor-Categorical Columns: []
    String-Boolean Columns: ['Gender', 'OverTime']
    Numeric-Boolean Columns: []
    Discrete String Columns: []
    NLP text Columns: []
    Date Time Columns: []
    ID Columns: ['EmployeeNumber']
    Columns that will not be considered in modeling: ['EmployeeCount', 'Over18', 'StandardHours']
    37 Predictors classified...
        4 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['EmployeeNumber', 'EmployeeCount', 'Over18', 'StandardHours']

################ Binary_Classification problem #####################
Number of variables = 33 exceeds limit, finding top 30 variables through XGBoost
    No categorical feature reduction done. All 8 Categorical vars selected
    Removing correlated variables from 25 numerics using SULO method

After removing highly correlated variables, following 20 numeric vars selected: ['Age', 'DailyAchievement', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction', 'HourlyAchievement', 'JobInvolvement', 'JobSatisfaction', 'MonthlyAchievement', 'NumCompaniesWorked', 'RelationshipSatisfaction', 'StockOptionLevel', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsSinceLastPromotion', 'Incentive', 'RemoteWork', 'JobLevel', 'YearsInCurrentRole', 'PercentSalaryHike']
    Adding 8 categorical variables to reduced numeric variables  of 20
############## F E A T U R E   S E L E C T I O N  ####################
Current number of predictors = 28
    Finding Important Features using Boosted Trees algorithm...
        using 28 variables...
Finding top features using XGB is crashing. Continuing with all predictors...
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    28 Predictors classified...
    No variables removed since no ID or low-information variables found in data
    List of variables removed: []
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Total Number of Scatter Plots = 210
All Plots are saved in .\AutoViz_Plots\Attrition
Time to run AutoViz = 64 seconds